@charset "utf-8";
*{padding:0;margin:0;}
         ul{list-style-type: none;}
        .slide{position:relative;width:100%;height:100%;}
        .slide .content{position:relative;overflow:hidden;width:100%;height:100%;}
        .slide .content ul{width: 100%;height: 100%}
        .slide .content ul li{position:relative;width:100%;height:100%;}
        .slide .content ul li a{display: block; width: 100%;height: 100%;background:no-repeat center center;background-size: cover}
        .slide .content ul li .text{position:absolute;left:0;bottom:0;z-index:2;width:100%;height:30px;font-size:13px;line-height:30px;font-family:Verdana;text-indent:6px;color:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;/**width:100%;*filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F08355C', endColorstr='#7F08355C');*/}
        .slide .tag{position:absolute;left:0;bottom:60px;width:100%;font-size:0;letter-spacing:-8px;text-align:center;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F08355C', endColorstr='#7F08355C');/**filter:none;*/}
        :root .slide .tag{filter:none;}
        .slide .tag ul{*zoom:1;padding:4px 10px;opacity:1;filter:alpha(opacity=70);}
        .slide .tag li{display:inline-block;*zoom:1;*display:inline;width:14px;height:14px;border-radius: 50%; margin-left:17px;font-size:0px;line-height:18px;letter-spacing:normal;text-align:center;color:#000;
                background-color:rgb(255,255,255);cursor:pointer; opacity: 0.3}
        .slide .tag li.current{border-color:#1188C0;color:#fff;background-color:rgb(255,255,255);opacity:2}
        .slide .pos{display:none;}
        .slide .btn a{position:absolute; top:50%; width:30px;height:51px;margin-top:-30px;filter:alpha(opacity=30);-webkit-transition:all .3s linear;transition:all .3s linear;cursor:pointer;outline:none;}
        .slide .btn a:hover{opacity:0.5;filter:alpha(opacity=50);}
        .slide .btn .btnPrev{left:70px;background:url(../img/left.png) no-repeat  center; display: none}
        .slide .btn .btnNext{right:70px; display: none;background:url(../img/right.png) no-repeat  center;}