
.swiper {

    width: 100%;
    height: 678px;
    background-image: url("../img/demo/fo.png");
    background-size: 100% 678px;
    overflow: hidden;
}

.swiper ul li a {
    display: block;
    width: 100%;
    height: 678px;
}

.swiper ul li a img {
    width: 100%;
    height: 678px;;
}

.swiper .sw_1 {
    width: 508px;
}

.swiper .sw_1 h3 {
    margin-top: 146px;
    color: #fff;
    font-size: 64px;
}

.swiper .sw_1 p {
    margin-top: 40px;
    color: #fff;
    font-size: 26px;
}

.swiper .sw_2 {
    width: 600px;
    margin-left: 68px;
    margin-top: 140px;
    position: relative;
}

.swiper .sw_2 .img_1 {
    float: left;
    padding-left: 36px;
}

.swiper .sw_2 .img_2 {
    /* float: right; */
    position: absolute;
    left: 152px;
    top: 90px;
}

.main {
    width: 1210px;
    height: 772px;
    margin: 0 auto;

    background: url("../img/demo/57a6a28755684.png") no-repeat center center;
}

.main h3 {
    font-size: 40px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    margin-bottom: 51px;
    padding-top: 140px;

}

.main p {
    text-indent: 2em;
    font-size: 26px;
    line-height: 48px;
}

.main .p2 {
    margin-top: 40px;
}

.success {
    height: 772px;
    background: #f4fafa;

}

.success h3 {
    padding-top: 101px;
    text-align: center;
    font-size: 36px;
    color: #333333;
    font-weight: 500;

}

.success span {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #333333;
    text-align: center;
    margin-top: 3px;

}

.success .menu {
    width: 990px;
    margin: 0 auto;
}

.success .menu ul {

    margin: 0 auto;
    text-align: center;
    margin-top: 86px;
    /* margin-left:222px;
    margin-top: 100px; */

}

.success .menu ul li {
    float: left;
    width: 446px;
    height: 327px;
    text-align: center;
}

.success .menu ul li.litwo {

    margin-left: 90px;

}

.success .menu ul li a {
    display: block;
    width: 446px;
    height: 227px;
    cursor: default;
}

.success .menu ul li a img {
    width: 446px;
    height: 327px;
}

.success .menu ul li a span {
    /*margin-top: 22px;*/
    font-size: 30px;
    color: #333333;
}

#footer {
    margin-top: 0px;
}