{% extends "../common/base.html" %}
{% block title %}
薇丁办公
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/public/css/weidingbangong.css">
{% endblock %}

{% block content %}

<!--内容-->

<div class="weiding">
    <div style="width: 1210px;margin: 0 auto; height: 100%;position: relative;">

        <div class="container">
            <div class="inerleft">
                <h2>薇丁办公APP</h2>
                <br>
                <h4>让商业更高效</h4>
                <div class="list">
                    <div class="xi_left fl">
                        <ul>
                            <li><a href="https://itunes.apple.com/cn/app/id1380560788?l=zh&ls=1&mt=8" target="_blank">iPhone</a>
                            </li>
                            <li class="li_two"><a href="http://imtt.dd.qq.com/16891/18F13FCABAEC090FD0B2C9F2FA79AE6F.apk?fsname=cn.weimengyungu.weiding_1.0.0_1.apk&csr=1bbd">Android</a></li>
                        </ul>
                    </div>
                    <div class="xi_right fl">
                        <img src="/public/img/weidingbangong/newlis_03.jpg" alt="" width="118" height="118">
                    </div>
                </div>
            </div>

        </div>
        <div class="right_wei">
            <img src="/public/img/weidingbangong/kk.png" alt="" width="374" height="700">
        </div>
    </div>
</div>


<div class="content">
    <div class="container clearfix">


        <div class="content_r fr">
            <h1>直播学院</h1>
            <ul class="clearfix">
                <li style="font-weight: 600">在线培训 干货直达</li>
                <li>大咖云集，知名大师传授实战经验</li>
            </ul>
        </div>


        <div class="content_l">
            <img src="/public/img/weidingbangong/bo.png">
        </div>
    </div>

</div>


<div class="content tr2">
    <div class="container clearfix">


        <div class="content_r fl">
            <h1>消息</h1>
            <ul class="clearfix">
                <li style="font-weight: 600">随时互动 便捷社交</li>
                <li>业务提醒，互动形式多种多样
                </li>
            </ul>
        </div>


        <div class="content_2">
            <img src="/public/img/weidingbangong/xiaoxi.png">
        </div>
    </div>

</div>


<div class="content">
    <div class="container clearfix">


        <div class="content_r fr">
            <h1>公告/任务</h1>
            <ul class="clearfix">
                <li style="font-weight: 600">公告传达&nbsp;制定计划</li>
                <li>任性工作，一对多快速传达。</li>
            </ul>
        </div>
        <div class="content_l info">
            <img src="/public/img/weidingbangong/gao.png">
        </div>
    </div>

</div>


<div class="content tr2">
    <div class="container clearfix">
        <div class="content_r fl">
            <h1>扫码发货</h1>
            <ul class="clearfix">
                <li style="font-weight: 600">智能扫码 一键扫描</li>
                <li>扫码发货，实现货品追踪。</li>
            </ul>
        </div>
        <div class="content_2">
            <img src="/public/img/weidingbangong/huo.png">
        </div>
    </div>
</div>

<div class="content weifo" style="height:940px;">
    <div class="container clearfix">
        <div class="content_r fr">
            <h1>防伪</h1>
            <ul class="clearfix">
                <li style="font-weight: 600">商品验证 鉴别真伪</li>
                <li>品牌保护，一物一码防伪防复制。</li>
            </ul>
        </div>
        <div class="content_l">
            <img src="/public/img/weidingbangong/fang.png">
        </div>
    </div>
</div>
<!--内容-->

{% endblock %}


{% block script %}


{% endblock %}