{% extends "../common/base.html" %}
{% block title %}
成功案例
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/public/css/demo.css">
{% endblock %}

{% block content %}

<!--内容-->
<div class="swiper">
    <!-- <ul>
      <li>
          <a href=""><img src="./img/demo/fo.png"></a>
      </li>
  </ul> -->


    <div class="container">
        <div class="sw_1 fl">
            <h3>同仁堂简介</h3>
            <p>北京同仁堂是全国中药行业著名的老字号。创建于1669年（清康熙八年），自1723年开始供奉御药，历经八代皇帝188年。同仁堂产品以"配方独特、选料上乘、工艺精湛、疗效显著"而享誉海内外，产品行销40多个国家和地区。</p>
        </div>

        <div class="sw_2 fl">
            <div class="img_1">
                <img src="/public/img/demo/02.png" width="371" height="272">
            </div>
            <div class="img_2"><img src="/public/img/demo/01.png" width="446" height="327"></div>

        </div>


    </div>
</div>
<div class="main">

    <h3>同仁堂互联网全面战略合作</h3>
    <p>同仁堂网上在售产品超过3000个品类，而销售过亿的明星产品则屈指可数。在经历了长期的困惑与摸索之后，同仁堂于2017年选择通过与微盟云谷合作，整合互联网营销手段与传统资源打造自己的新形象，运用数据增强和改善企业品牌及全产业链的管理。
    </p>

    <p class="p2">老字号+社交化电商+大数据为其转型提供了一个全新的思路，即互联网+、大数据、云计算。对市场、用户、产品、企业价值链乃至对整个商业生态进行重新审视。同仁堂通过与微盟云谷数据平台的合作，整合线上、线下的媒介资源，实现市场营销模式的华丽转身。
    </p>
</div>
<div class="success">
    <h3>成功案例</h3>
    <span>Successful Case </span>
    <div class="menu">
        <ul class="clearfix">
            <li>
                <a href="javascript:;">
                    <img src="/public/img/demo/45.png" width="446" height="327">
                    <br>
                    <span>同仁堂足道</span>
                </a>
            </li>
            <li class="litwo">
                <a href="javascript:;">
                    <img src="/public/img/demo/88.png" width="446" height="327">
                    <br>
                    <span>同仁堂减肥饼干</span>
                </a>
            </li>
        </ul>

    </div>
</div>
<!--内容-->

{% endblock %}


{% block script %}


{% endblock %}