{% extends "../common/base.html" %}
{% block title %}
公司简介
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/public/css/about.css">
{% endblock %}

{% block content %}

<!--内容-->
<div class="containe">
    <div class="rown">
        <div class="left">
            <div class="about">
                <p>关于我们</p>
                <p> About Us</p>
            </div>
            <ul>
                <li>
                    <a href="/static/5_1about?page=4" style="background-color: #10417E;color: #ffffff">公司简介</a>
                </li>
                <li>
                    <a href="/static/5_2about?page=4">资质荣誉</a>
                </li>
                <li>
                    <a href="/static/5_3about?page=4">专业服务团队</a>
                </li>
                <li>
                    <a href="/static/5_4about?page=4">免责声明</a>
                </li>
                <li>
                    <a href="/static/5_5about?page=4">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <p>您当前的位置: <a href="/">首页</a> > 公司简介 </p>
            <div class="contain">
                <div class="jianjie">
                    <div class="contain-left">
                        <h3>公司简介</h3>
                        <p>微盟云谷股份有限公司成立于2017年，注册资本10000万元，是一家以互联网智能服务为核心的多元化集团企业。基于智能商业的核心价值，微盟云谷以跨界领域的软件研发、管理系统，咨询、培训、投资和大数据，形成战略整合，打造商业智能服务平台。
                        </p>
                        <div class="left-img">
                            <img src="/public/img//jianjie/jianjieright.jpg" alt="" width="100%" height="100%">
                        </div>
                    </div>

                    <div class="contain-right">
                        <div class="right-img">
                            <img src="/public/img/jianjie/jianjieleft.jpg" alt="" width="100%" height="100%">
                        </div>
                        <p>微盟云谷集SaaS（软件即服务）、教育培训、管理咨询,市场研究、数据收集于一体，为企业提供智能服务及整体解决方案，致力于通过产品和服务，助力企业向智能商业转型升级，用先进技术驱动发展革新,智能服务开启商业新模式，让商业变得更高效。

                        </p>
                        <p>旗下产品薇丁办公致力于为零售业提供全渠道解决方案，以“薇丁办公，让商业更高效”为理念，通过移动,云,大数据技术，帮助企业打造一站式移动管理办公平台。

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="licheng">
        <h3>发展历程</h3>
        <p>Development History</p>
        <div class="oneleft">
            2018年
            <p>2018年6月，产品“薇丁办公”V1.0.0版本全网上线</p>
        </div>
        <div class="oneright">
            2017年
            <p>微盟云谷股份有限公司成立</p>
        </div>
    </div>

</div>
<!--内容-->

{% endblock %}


{% block script %}



{% endblock %}