{% extends "../common/base.html" %}
{% block title %}
资质荣誉
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/public/css/about.css">
{% endblock %}

{% block content %}

<!--内容-->
<div class="containe">
    <div class="rown">
        <div class="left">
            <div class="about">
                <p>关于我们</p>
                <p> About Us</p>
            </div>
            <ul>
                <li>
                    <a href="/static/5_1about?page=4">公司简介</a>
                </li>
                <li>
                    <a href="/static/5_2about?page=4" style="background-color: #10417E;color: #ffffff">资质荣誉</a>
                </li>
                <li>
                    <a href="/static/5_3about?page=4">专业服务团队</a>
                </li>
                <li>
                    <a href="/static/5_4about?page=4">免责声明</a>
                </li>
                <li>
                    <a href="/static/5_5about?page=4">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <p>您当前的位置: <a href="/">首页</a> > 资质荣誉 </p>
            <div class="contain">
                <h5>资质荣誉</h5>
                <!--<div class="wrapp" id="wrap">-->
                <!--<div class="slide" id="slide">-->
                <!--<ul>-->
                <!--<li><a href="#"><img src="./img/08/78.png" alt=""/></a></li>-->
                <!--<li><a href="#"><img src="./img/08/78.png" alt=""/></a></li>-->
                <!--<li><a href="#"><img src="./img/08/78.png" alt=""/></a></li>-->
                <!---->
                <!--</ul>-->
                <!--<div class="arrow" id="arrow">-->
                <!--<a href="javascript:;" class="prev"></a>-->
                <!--<a href="javascript:;" class="next"></a>-->
                <!--</div>-->
                <!---->
                <!--</div>-->
                <!--</div>-->
                <div style="width: 100%;text-align: center;">
                    <img src="/public/img/08/78.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容-->

{% endblock %}


{% block script %}



{% endblock %}