{% extends "../common/base.html" %}
{% block title %}
专业服务团队
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/public/css/about.css">
{% endblock %}

{% block content %}

<!--内容-->

<div class="containe">
    <div class="rown">
        <div class="left">
            <div class="about">
                <p>关于我们</p>
                <p> About Us</p>
            </div>
            <ul>
                <li>
                    <a href="/static/5_1about?page=4">公司简介</a>
                </li>
                <li>
                    <a href="/static/5_2about?page=4">资质荣誉</a>
                </li>
                <li>
                    <a href="/static/5_3about?page=4" style="background-color: #10417E;color: #ffffff">专业服务团队</a>
                </li>
                <li>
                    <a href="/static/5_4about?page=4">免责声明</a>
                </li>
                <li>
                    <a href="/static/5_5about?page=4">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <p>您当前的位置: <a href="/">首页</a> > 专业服务团队 </p>
            <div class="contain">
                <div class="team">
                    <h3>团队介绍</h3>
                    <div class="ont">
                        <h4>管理层</h4>
                        <p>来自于摩托罗拉、诺基亚等世界500强知名企业管理层，具有多年大型跨国企业管理经验和良好的政府资源。</p>
                    </div>
                    <div class="ont">
                        <h4>研发中心团队</h4>
                        <p>来自211、 985院校，硕士以上学历占团队总人数的85%，平均具有10年以上的互联网行业经验，在互联网应用、大数据分析和处理等方面经验丰富,并设计开发过多款大型应用。</p>
                    </div>
                    <div class="ont">
                        <h4>运营中心团队</h4>
                        <p>来自BAT等国内顶级互联网及数据公司，具有强大的商业分析、数据产品、机器学习等专业背景，拥有先进的数据分析技术和丰富的实战经验。对于内、外部管理的把控具有多年经验积累，熟悉行业发展规律。</p>
                    </div>
                    <div class="ont">
                        <h4>市场部团队</h4>
                        <p>来自华为、中国人保等大型企业，拥有多年品牌建设及市场营销经验，运营过多个大型品牌营销策划案，如：与《星光大道》品牌合作。对于市场政策的解读具有参考性，对于产业发展方向能够及时研判。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--内容-->

{% endblock %}


{% block script %}


{% endblock %}