{% extends "../common/base.html" %}
{% block title %}
免责声明
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/public/css/about.css">
{% endblock %}

{% block content %}

<!--内容-->

<div class="containe">
    <div class="rown">
        <div class="left">
            <div class="about">
                <p>关于我们</p>
                <p> About Us</p>
            </div>
            <ul>
                <li>
                    <a href="/static/5_1about?page=4">公司简介</a>
                </li>
                <li>
                    <a href="/static/5_2about?page=4">资质荣誉</a>
                </li>
                <li>
                    <a href="/static/5_3about?page=4">专业服务团队</a>
                </li>
                <li>
                    <a href="/static/5_4about?page=4" style="background-color: #10417E;color: #ffffff">免责声明</a>
                </li>
                <li>
                    <a href="/static/5_5about?page=4">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <p>您当前的位置: <a href="/">首页</a> > 免责声明 </p>
            <div class="contain">
                <div class="state">
                    <h3>免责声明</h3>
                    <div class="txt">
                        <p>一、凡本网注明“来源：微盟云谷”的所有文字、图片和音视频稿件，版权均属微盟云谷股份有限公司及微盟云谷官方网站所有，任何媒体、网站或个人如有需要链接转载或其它方式调用者，请注明摘自 “微盟云谷”或相关字样。</p>
                        <p>二、凡本网未注明“来源：微盟云谷”的所有文字、图片和音视频等稿件均为转载稿，本网转载仅为提供更多信息和促进交流之目的，不代表同意其观点或证实其内容的真实性，不代表本站观点，仅供参考，我们不作任何承诺保证，不承担任何的责任。</p>
                        <p>三、任何单位或个人认为本官网内容可能涉嫌侵犯其合法权益，应及时向本站客服400-658-5000投诉，并提供权属证明及详细侵权情况证明，本站将会尽快移除相关涉嫌侵权内容。</p>
                        <p>四、任何单位或个人不得未经允许使用微盟云谷相关抬头，不得以微盟云谷名义从事违法、有损公共道德或以满足个人利益为目的活动。一经发现，微盟云谷股份有限公司保留法律追诉权利。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--内容-->

{% endblock %}


{% block script %}


{% endblock %}