{% extends "../common/base.html" %}
{% block title %}
联系我们
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/public/css/about.css">
{% endblock %}

{% block content %}

<!--内容-->

<div class="containe">
    <div class="rown">
        <div class="left">
            <div class="about">
                <p>关于我们</p>
                <p> About Us</p>
            </div>
            <ul>
                <li>
                    <a href="/static/5_1about?page=4">公司简介</a>
                </li>
                <li>
                    <a href="/static/5_2about?page=4">资质荣誉</a>
                </li>
                <li>
                    <a href="/static/5_3about?page=4">专业服务团队</a>
                </li>
                <li>
                    <a href="/static/5_4about?page=4">免责声明</a>
                </li>
                <li>
                    <a href="/static/5_5about?page=4" style="background-color: #10417E;color: #ffffff">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <p>您当前的位置: <a href="/">首页</a> > 联系我们 </p>
            <div class="contain">
                <div class="contact">
                    <h3>联系我们</h3>
                    <div class="txt">
                        <p>电话：400-658-5000</p>
                        <p>传真：010-53033781</p>
                        <p>邮箱：kefu@weimengyungu.cn</p>
                        <p>网址：www.weimengyungu.cn</p>
                        <p>地址：北京丰台区南四环西路188号（总部基地）18区20号楼8层</p>
                        <p>地铁乘车路线：地铁9号线丰台科技园站D口出，向西步行10分钟</p>
                    </div>
                    <img src="/public/img/lianxi/map.png" alt="" width="894" height="612">
                </div>
            </div>
        </div>
    </div>
</div>

<!--内容-->

{% endblock %}


{% block script %}


{% endblock %}